@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body,html{
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0;
}

body{
  background-color: #FFF
}

#landing-container{
  background-blend-mode: overlay;
  background-color: initial!important;
  background-image: url(../assets/bg.jpg), linear-gradient(135deg, #E55F25 0%, #D22A19 100%)!important;
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-gap: 10px;
  grid-template-areas: ". inner .";
  height: auto;
}

.section{
  position:relative;
}

svg.top{
  z-index:1;
  position:absolute;
  top:-49px;
  width:100%;
  height:50px;
  bottom:0;
  fill:white;
}

svg.bottom{
  position:absolute;
  width:100%;
  height:50px;
  bottom:0;
  top:auto;
  fill:white;
}

#inner{
  grid-area: inner;
  align-self: center;

}

img#logo{
  width:130px;
  margin-bottom: 1.2em;
  margin-top: 5%;
}

h1{
  text-transform: uppercase;
  font-size: 6em;
  color: #fff;
  margin-top: 0px;
  margin-bottom: .2em;
}

p.subtitle{
  font-size:2em;
  color: #fff;
  padding-bottom: 50px;
}

.cta{
  position:absolute;
  z-index:2;
  background-image: linear-gradient(135deg, #2D9FD2 0%, #36D1E9 100%)!important;
  padding: 1em;
  color: #fff;
  margin-top:-40px;
  margin-left: 10%;
  font-size:2em;
  font-weight: bold;
  display:inline-block;
  text-decoration: none;
}

@media (max-width: 1024px){
  h1{
    font-size:5em;
  }
  p.subtitle{
    font-size:1.5em;
  }
  .cta{
    font-size:1.5em;
  }
}

@media (max-width: 768px){
  h1{
    font-size:3em;
  }
  p.subtitle{
    font-size:1em;
  }
  .cta{
    font-size:1em;
  }
}

@media (max-width: 425px){
  img#logo{
    width:80px;
  }
  h1{
    font-size:2em;
  }
  p.subtitle{
    font-size:.8em;
  }
  .cta{
    font-size:.8em;
  }
}
